nav {
  background-color: #be99f8;
  padding: 20px;
  position: sticky;
  top: 106px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}

nav li a {
  text-decoration: none;
  color: #4b4b4b;
}

nav li a:hover{
  text-decoration: underline;
  color: pink;

}

Header{
    background: purple;
    color: white;
    padding: 10px;
    text-align: center;
}

footer{
  background: pink;
  color: white;
  padding: 10px;
  text-align: center;
}