
/*nav bar/banner/header styles*/
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex; 
  justify-content: center; 
  padding: 1rem 2rem; 
  background: pink; 

}
nav ul {
  display: flex; 
  list-style: none; 
  font-size: 38px;
  text-align: center;

}

nav li {
  padding-left: 1rem; 
  margin-left: 0;
 
}
nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: rgb(241, 128, 245);
  text-decoration: underline;
}

nav a.blue:hover {
  color: rgb(148, 228, 241);
}

nav a.yellow:hover {
  color: yellow;
}

nav a.green:hover {
  color: rgb(144, 216, 144);
}



/*end of nav bar*/

/*header and footer styles*/
header h1{
text-align: center;
}

footer {
  border-top: 2px solid white;
  background-color: pink;
  color: white;
  text-align: center;
  padding: 2rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0; 
}
/*end of header and footer styles*/

/* media queries*/

@media screen and (max-width: 1400px){

  .banner .welcome {
    font-size: 40px;
  }

@media screen and (max-width: 960px){

  .banner .welcome {
    font-size: 28px;
  }
  nav li{
    font-size: 18px;
  }

  /*end of media queries*/ 